//- Variables
//- team
//- score
//- div.numerico
//-   strong(id="team#{team}Score")=score
div.numerico
  span.scoreHidden=score
  ul.flip.minutePlay
    li.active
      a(href='#')
        .up
          .shadow
          .inn=('0'+score).slice(-2).charAt(0)
        .down
          .shadow
          .inn=('0'+score).slice(-2).charAt(0)
    li.before
      a(href='#')
        .up
          .shadow
          .inn
        .down
          .shadow
          .inn
  ul.flip.secondPlay
    li.active
      a(href='#')
        .up
          .shadow
          .inn=('0'+score).slice(-2).charAt(1)
        .down
          .shadow
          .inn=('0'+score).slice(-2).charAt(1)
    li.before
      a(href='#')
        .up
          .shadow
          .inn
        .down
          .shadow
          .inn
